<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="h-screen text-white bg-zinc-900">
    <a class="text-blue-500 m-5" href="/">create user</a>
    <h1 class="text-3xl tracking-tighter p-4">All users</h1>
    <div class="flex gap-4 p-5 bg-zinc-800">
        <% if(users.length>0){users.forEach((user) => { %>
        <div class="w-72 ">
          <div class="h-52 w-full bg-blue-500 overflow-hidden"><img class="object-cover w-full h-full" src="<%= user.image %>" alt=""></div>
          <div class="text-xl"><%= user.name %></div>
          <div><%= user.email %></div>
          <div class="flex mt-5 justify-around">
            <a class="text-zinc-600" href="/edite/<%= user._id %>">edite</a>
            <a class="text-red-400" href="/delete/<%= user._id %>">delete</a>
          </div>
        </div>
        <% })} else{ %>
          <h1>there are no user</h1>
        <% } %>
    </div>
    
    
  </div>
</body>
</html>